{% extends 'partials/index.html' %}
{% block title %}Post Edit Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mx-auto px-4">
    <div class="flex justify-center mt-5 pt-3">
        <div class="w-full md:w-1/2">
            <div class="bg-white shadow-lg rounded-lg my-3">
                <div class="p-6">
                    <h2 class="text-xl font-semibold mb-4">Edit Post</h2> 
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mt-4"> 
                            <input class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded text-sm cursor-pointer" type="submit" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
